*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/yuhu.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;

}

nav{
    background: #000;
    color: #b54769;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu{
    display: flex;
    list-style: none;
}
nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;

}
nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
nav .logo{
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}


@media(max-width:800px){
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu{
        display: block;
    }
    nav .mainMenu li a hover{
        background: none;
        color: rgb(181, 71, 105);
        font-size: 1.6rem;
    }
    .icons{
        display: inline-block;
        padding: 12px;
    }
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;

}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: red;

}

#about{
    margin-top: 170px;
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after{
    width: 50%;

}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}

.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;

}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#porffolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.work{
    border-radius:10px;
    position: relative;
    overflow: hidden;

}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 1s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#b54769);
    border-radius: 10px;
    position: center;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 60px;
    align-items:normal;
    transition: height 1s;
}
.video{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),#b54769);
    border-radius: 10px;
    position: center;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 60px;
    align-items:normal;
    transition: height 1s;
}

.work:hover img{
    transform:scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.work video{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 1s;
}
.work:hover video{
    transform:scale(1.1);
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border:2px solid #b54769;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.5s;
}
.btn:hover{
    background: #fff;
}
.icons{
    text-align: none;
    margin-top: 20px;
}
.icons a{
    text-decoration: none;
    margin-right: 20px;
    margin-top: 60px;
}
.fa-brands.fa-facebook:hover{
    color: hsl(240, 100%, 50%);
}
.fa-brands.fa-instagram:hover{
    color: hsl(328, 100%, 54%);
}
.fa-brands.fa-tiktok:hover{
    color:hsl(0, 0%, 70%);
}
.contact-left{
    flex-basis: 35%; 
}
.contact-right{    
    flex-basis: 60%;
}
 .contact-left p{
    margin-top: 20px;
}
.contact-left p i{
    color:#800080;
    margin-right: 15px;
    font-size: 25px;
}
.icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: rgba(170, 187, 170, 0.733);    
}
.btn.btn2{
    display: inline-block;
    transition: background 0.5s;
}
.btn2:hover{
    background-color:#b54769;
    color: #fff;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width:100% ;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.form.btn2{
    padding:14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor:pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color:#b54769;
}
/*---------------phone view----------*/


